extends ../layout
block content
 div.container
  .jumbotron.jumbotron-fluid
   .container(align='center')
    h1.display-4.mt-5 KONTES TINJU 
    p.lead
      | Segera daftarkan diri anda sekarang juga!
    tr 
        td 
         a.btn.btn-dark(href='/bergelut/login') LOGIN
        td 
        td
         a.btn.btn-dark(href='/bergelut/daftar') DAFTAR
    
    
